<h1 align='center'>Table of Contents </h1>
<ol>
    <li><a href='#data-set-q'>Data Set Questions</a></li>
        <ol>
            <li>Demographic</li>
            <li>Medical Condition</li>
            <li>Financial</li>
            <li>Medical Staff</li>
            <li>Insurance and Payments</li>
            <li>Overall Analysis</li>
        </ol>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ol>

<a id='data-set-q'></a>
## Data Set Questions
I am going to be looking at different parts of this data set and and making so questions and finding answers to those questions. Each section will be outlined below, along with the links to the cells with the answers.

### <u>Demographic<u>
- What is the average age of the patients?
- What is the gender distribution of the patients?
- What is the distribution of blood types among patients?
- How does the age distribution change depending on medical condition?

### <u>Medical Condition<u>
- Which medical condition has the highest average billing amount?
- What is the average length of hospital stays for different medical conditions?
- What is the most common medication given for each medical condition?
- What is the relationship between medical condition and test results?

### <u>Financial<u>
- What is the total billing amount by hospital?
- What is the distribution of billing amounts for urgent versus elective admissions?
- Is there a correlation between age and billing amount?
- Which insurance provider has the highest average billing amount?

### <u>Medical Staff<u>
- Which doctor has treated the most patients?
- What is the average length of stay at each hospital?
- Which hospital has the highest number of urgent admissions?
- What is the average billing amount per doctor?

### <u>Insurance and Payments<u>
- How does billing vary by insurance provider?
- What is the total billing amount for each insurance provider?
- What percentage of patients have insurance versus those who donâ€™t?

### <u>Overall Analysis<u>
- What are the peak months for hospital admissions?
- How has the number of admissions changed over the years?
- What is the average discharge time over the years?

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Data

This is healthcare data from Kaggle meant to represent real world data for testing and analysis.

In [2]:
df = pd.read_csv('healthcare_dataset.csv')
df.head()

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,Bobby JacksOn,30,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and Miller,Blue Cross,18856.281306,328,Urgent,2024-02-02,Paracetamol,Normal
1,LesLie TErRy,62,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,Medicare,33643.327287,265,Emergency,2019-08-26,Ibuprofen,Inconclusive
2,DaNnY sMitH,76,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook PLC,Aetna,27955.096079,205,Emergency,2022-10-07,Aspirin,Normal
3,andrEw waTtS,28,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.782410,450,Elective,2020-12-18,Ibuprofen,Abnormal
4,adrIENNE bEll,43,Female,AB+,Cancer,2022-09-19,Kathleen Hanna,White-White,Aetna,14238.317814,458,Urgent,2022-10-09,Penicillin,Abnormal

## Data Cleaning

I will be going through the data to see if there is any missing data. Depending on the data missing or null, I will decide whether to remove it or to fill it in with other relavent data.

In [7]:
# cleaning columns and inconsistent naming
df['Name'] = df['Name'].str.title()
df.head()

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,Bobby Jackson,30,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and Miller,Blue Cross,18856.281306,328,Urgent,2024-02-02,Paracetamol,Normal
1,Leslie Terry,62,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,Medicare,33643.327287,265,Emergency,2019-08-26,Ibuprofen,Inconclusive
2,Danny Smith,76,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook PLC,Aetna,27955.096079,205,Emergency,2022-10-07,Aspirin,Normal
3,Andrew Watts,28,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.782410,450,Elective,2020-12-18,Ibuprofen,Abnormal
4,Adrienne Bell,43,Female,AB+,Cancer,2022-09-19,Kathleen Hanna,White-White,Aetna,14238.317814,458,Urgent,2022-10-09,Penicillin,Abnormal

In [4]:
# Finding if there are any null values
df1 = df[df.isna().any(axis = 1)]
df1

Empty DataFrame
Columns: [Name, Age, Gender, Blood Type, Medical Condition, Date of Admission, Doctor, Hospital, Insurance Provider, Billing Amount, Room Number, Admission Type, Discharge Date, Medication, Test Results]
Index: []

In [9]:
# Seeing if the data is consistent
df.groupby(['Insurance Provider', 'Medical Condition']).count() 
# If the data has different values then there would be -
# Indication of data missing or null - another check for the function above

                                      Name   Age  Gender  Blood Type  \
Insurance Provider Medical Condition
Aetna              Arthritis          1832  1832    1832        1832
                   Asthma             1740  1740    1740        1740
                   Cancer             1819  1819    1819        1819
                   Diabetes           1842  1842    1842        1842
                   Hypertension       1876  1876    1876        1876
                   Obesity            1804  1804    1804        1804
Blue Cross         Arthritis          1852  1852    1852        1852
                   Asthma             1835  1835    1835        1835
                   Cancer             1808  1808    1808        1808
                   Diabetes           1860  1860    1860        1860
                   Hypertension       1813  1813    1813        1813
                   Obesity            1891  1891    1891        1891
Cigna              Arthritis          1900  1900    1900        1900
                   Asthma             1907  1907    1907        1907
                   Cancer             1864  1864    1864        1864
                   Diabetes           1893  1893    1893        1893
                   Hypertension       1821  1821    1821        1821
                   Obesity            1864  1864    1864        1864
Medicare           Arthritis          1851  1851    1851        1851
                   Asthma             1833  1833    1833        1833
                   Cancer             1866  1866    1866        1866
                   Diabetes           1903  1903    1903        1903
                   Hypertension       1847  1847    1847        1847
                   Obesity            1854  1854    1854        1854
UnitedHealthcare   Arthritis          1873  1873    1873        1873
                   Asthma             1870  1870    1870        1870
                   Cancer             1870  1870    1870        1870
                   Diabetes           1806  1806    1806        1806
                   Hypertension       1888  1888    1888        1888
                   Obesity            1818  1818    1818        1818

                                      Date of Admission  Doctor  Hospital  \
Insurance Provider Medical Condition
Aetna              Arthritis                       1832    1832      1832
                   Asthma                          1740    1740      1740
                   Cancer                          1819    1819      1819
                   Diabetes                        1842    1842      1842
                   Hypertension                    1876    1876      1876
                   Obesity                         1804    1804      1804
Blue Cross         Arthritis                       1852    1852      1852
                   Asthma                          1835    1835      1835
                   Cancer                          1808    1808      1808
                   Diabetes                        1860    1860      1860
                   Hypertension                    1813    1813      1813
                   Obesity                         1891    1891      1891
Cigna              Arthritis                       1900    1900      1900
                   Asthma                          1907    1907      1907
                   Cancer                          1864    1864      1864
                   Diabetes                        1893    1893      1893
                   Hypertension                    1821    1821      1821
                   Obesity                         1864    1864      1864
Medicare           Arthritis                       1851    1851      1851
                   Asthma                          1833    1833      1833
                   Cancer                          1866    1866      1866
                   Diabetes                        1903    1903      1903
                   Hypertension                    1847    1847      1847
                   Obesity                         1854    1854      1854
UnitedHealthcare   Arthritis                       1873    1873      1873
                   Asthma                          1870    1870      1870
                   Cancer                          1870    1870      1870
                   Diabetes                        1806    1806      1806
                   Hypertension                    1888    1888      1888
                   Obesity                         1818    1818      1818

                                      Billing Amount  Room Number  \
Insurance Provider Medical Condition
Aetna              Arthritis                    1832         1832
                   Asthma                       1740         1740
                   Cancer                       1819         1819
                   Diabetes                     1842         1842
                   Hypertension                 1876         1876
                   Obesity                      1804         1804
Blue Cross         Arthritis                    1852         1852
                   Asthma                       1835         1835
                   Cancer                       1808         1808
                   Diabetes                     1860         1860
                   Hypertension                 1813         1813
                   Obesity                      1891         1891
Cigna              Arthritis                    1900         1900
                   Asthma                       1907         1907
                   Cancer                       1864         1864
                   Diabetes                     1893         1893
                   Hypertension                 1821         1821
                   Obesity                      1864         1864
Medicare           Arthritis                    1851         1851
                   Asthma                       1833         1833
                   Cancer                       1866         1866
                   Diabetes                     1903         1903
                   Hypertension                 1847         1847
                   Obesity                      1854         1854
UnitedHealthcare   Arthritis                    1873         1873
                   Asthma                       1870         1870
                   Cancer                       1870         1870
                   Diabetes                     1806         1806
                   Hypertension                 1888         1888
                   Obesity                      1818         1818

                                      Admission Type  Discharge Date  \
Insurance Provider Medical Condition
Aetna              Arthritis                    1832            1832
                   Asthma                       1740            1740
                   Cancer                       1819            1819
                   Diabetes                     1842            1842
                   Hypertension                 1876            1876
                   Obesity                      1804            1804
Blue Cross         Arthritis                    1852            1852
                   Asthma                       1835            1835
                   Cancer                       1808            1808
                   Diabetes                     1860            1860
                   Hypertension                 1813            1813
                   Obesity                      1891            1891
Cigna              Arthritis                    1900            1900
                   Asthma                       1907            1907
                   Cancer                       1864            1864
                   Diabetes                     1893            1893
                   Hypertension                 1821            1821
                   Obesity                      1864            1864
Medicare           Arthritis                    1851            1851
                   Asthma                       1833            1833
                   Cancer                       1866            1866
                   Diabetes                     1903            1903
                   Hypertension                 1847            1847
                   Obesity                      1854            1854
UnitedHealthcare   Arthritis                    1873            1873
                   Asthma                       1870            1870
                   Cancer                       1870            1870
                   Diabetes                     1806            1806
                   Hypertension                 1888            1888
                   Obesity                      1818            1818

                                      Medication  Test Results
Insurance Provider Medical Condition
Aetna              Arthritis                1832          1832
                   Asthma                   1740          1740
                   Cancer                   1819          1819
                   Diabetes                 1842          1842
                   Hypertension             1876          1876
                   Obesity                  1804          1804
Blue Cross         Arthritis                1852          1852
                   Asthma                   1835          1835
                   Cancer                   1808          1808
                   Diabetes                 1860          1860
                   Hypertension             1813          1813
                   Obesity                  1891          1891
Cigna              Arthritis                1900          1900
                   Asthma                   1907          1907
                   Cancer                   1864          1864
                   Diabetes                 1893          1893
                   Hypertension             1821          1821
                   Obesity                  1864          1864
Medicare           Arthritis                1851          1851
                   Asthma                   1833          1833
                   Cancer                   1866          1866
                   Diabetes                 1903          1903
                   Hypertension             1847          1847
                   Obesity                  1854          1854
UnitedHealthcare   Arthritis                1873          1873
                   Asthma                   1870          1870
                   Cancer                   1870          1870
                   Diabetes                 1806          1806
                   Hypertension             1888          1888
                   Obesity                  1818          1818

In [10]:
df.groupby(['Blood Type', 'Gender']).count() # Same check as above

                   Name   Age  Medical Condition  Date of Admission  Doctor  \
Blood Type Gender
A+         Female  3564  3564               3564               3564    3564
           Male    3392  3392               3392               3392    3392
A-         Female  3449  3449               3449               3449    3449
           Male    3520  3520               3520               3520    3520
AB+        Female  3438  3438               3438               3438    3438
           Male    3509  3509               3509               3509    3509
AB-        Female  3461  3461               3461               3461    3461
           Male    3484  3484               3484               3484    3484
B+         Female  3377  3377               3377               3377    3377
           Male    3568  3568               3568               3568    3568
B-         Female  3461  3461               3461               3461    3461
           Male    3483  3483               3483               3483    3483
O+         Female  3464  3464               3464               3464    3464
           Male    3453  3453               3453               3453    3453
O-         Female  3512  3512               3512               3512    3512
           Male    3365  3365               3365               3365    3365

                   Hospital  Insurance Provider  Billing Amount  Room Number  \
Blood Type Gender
A+         Female      3564                3564            3564         3564
           Male        3392                3392            3392         3392
A-         Female      3449                3449            3449         3449
           Male        3520                3520            3520         3520
AB+        Female      3438                3438            3438         3438
           Male        3509                3509            3509         3509
AB-        Female      3461                3461            3461         3461
           Male        3484                3484            3484         3484
B+         Female      3377                3377            3377         3377
           Male        3568                3568            3568         3568
B-         Female      3461                3461            3461         3461
           Male        3483                3483            3483         3483
O+         Female      3464                3464            3464         3464
           Male        3453                3453            3453         3453
O-         Female      3512                3512            3512         3512
           Male        3365                3365            3365         3365

                   Admission Type  Discharge Date  Medication  Test Results
Blood Type Gender
A+         Female            3564            3564        3564          3564
           Male              3392            3392        3392          3392
A-         Female            3449            3449        3449          3449
           Male              3520            3520        3520          3520
AB+        Female            3438            3438        3438          3438
           Male              3509            3509        3509          3509
AB-        Female            3461            3461        3461          3461
           Male              3484            3484        3484          3484
B+         Female            3377            3377        3377          3377
           Male              3568            3568        3568          3568
B-         Female            3461            3461        3461          3461
           Male              3483            3483        3483          3483
O+         Female            3464            3464        3464          3464
           Male              3453            3453        3453          3453
O-         Female            3512            3512        3512          3512
           Male              3365            3365        3365          3365